
/* body{
    background-color: rgba(0, 0, 255, 0.297);
} */
body{
    /* 0-255 */
    /* background-color: rgb(); */
    background-color: #AA99FF;
}
/* .kuch-bhi{
    color: brown;
}
p{
    color: white;
}
.para1{
    color: black;
    font-weight: 600;
}
h1{
    color: chartreuse;
}
#para3{
    color: coral;
} */

/* .para{
    color: white;
}
.para2{
    color: white; 
} */
/* #para5{
 font-size: x-large;
} */
/* .para{
    color: brown;
} */
/* #para6{
    font-size: 50px;
} */
/* universal selector  */
*{
    color: brown;
   
}
.h1{
    color: aqua;
}
/* .container{
    height: 500px;
    width: 500px;
    background-color: chartreuse;
    border: 1px dotted red;
    border-radius:49%;
} */
button{
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
  padding: 10px 10px 10px 10px;
  /* padding: 10px; */
  /* padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; */
}
/* #kuch-bhi{
    color: black;
} */
#p1{
    border: 1px solid pink;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    text-align: end;
}
#p2{
    /* margin-top: 50px; */
    /* margin-top: -100px; */
    font-size: 50px;
    font-weight: lighter;
 font-family: cursive;

    border: 1px solid brown;
}